@page
@model Torneo.App.Frontend.Pages.Partidos.DetailsModel
@{
}
<h1>Detalle del partido</h1>
<table class="table table-striped">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.partido.Id</td>
    </tr>
    <tr>
        <th scope="col">Local</th>
        <td>@Model.partido.Local</td>
    </tr>
    <tr>
        <th scope="col">Marcador Local</th>
        <td>@Model.partido.MarcadorLocal</td>
    </tr>
    <tr>
        <th scope="col">Visitante</th>
        <td>@Model.partido.Visitante</td>
    </tr>
    <tr>
        <th scope="col">Marcador Visitante</th>
        <td>@Model.partido.MarcadorVisitante</td>
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>