@page
@model Torneo.App.Frontend.Pages.Partidos.IndexModel
@{
}
<a class="btn btn-primary" asp-page="./Create">Crear partido</a>

<h1>Listado de partidos</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">FechaHora</th>
            <th scope="col">Local</th>
            <th scope="col">Marcador Local</th>
            <th scope="col">Visitante</th>
            <th scope="col">Marcador Visitante</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var partido in Model.partidos)
        {
            <tr>
                <th>@partido.Id</th>
                <th>@partido.FechaHora</th>
                <td>@partido.Local</td>
                <td>@partido.MarcadorLocal</td>
                <td>@partido.Visitante</td>
                <td>@partido.MarcadorVisitante</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@partido.Id">
                    Detalle
                    </a>
                    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@partido.Id">
                    Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>